/* Material Design */
/* Material Design */
/* Fonts */
/* Color Themes */
.sidenav-container {
  width: 250px;
  padding: 15px;
  color: #ffffff;
}
.sidenav-container .nav-list .list-container {
  display: flex;
  flex-direction: column;
}
.sidenav-container .nav-list .list-container .list-item {
  margin-bottom: 10px;
}
.sidenav-container .nav-list .list-container .list-item.disable {
  pointer-events: none;
  opacity: 0.2;
}
.sidenav-container .nav-list .list-container .list-item .item-grid {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding: 0px 7px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  /* Gerald */
  /* Arnold */
  /* helga */
  /* phoebe */
  /* sid */
  /* fuzzyslippers */
}
.sidenav-container .nav-list .list-container .list-item .item-grid .list-img-container {
  overflow: hidden;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  padding: 1px;
}
.sidenav-container .nav-list .list-container .list-item .item-grid .list-img-container:before {
  content: '';
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 70%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s all ease-in-out;
}
.sidenav-container .nav-list .list-container .list-item .item-grid .list-img-container img {
  position: relative;
  z-index: 1;
  height: 100%;
}
.sidenav-container .nav-list .list-container .list-item .item-grid .list-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-transform: capitalize;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.gerald-grid .list-img-container:before {
  background: rgba(230, 38, 37, 0.7) !important;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.gerald-grid:hover,
.sidenav-container .nav-list .list-container .list-item .item-grid.gerald-grid.flip {
  background-color: #e62625;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.arnold-grid .list-img-container:before {
  background: rgba(86, 128, 233, 0.7) !important;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.arnold-grid:hover,
.sidenav-container .nav-list .list-container .list-item .item-grid.arnold-grid.flip {
  background-color: #5680e9;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.helga-grid .list-img-container:before {
  background: rgba(231, 113, 125, 0.7) !important;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.helga-grid:hover,
.sidenav-container .nav-list .list-container .list-item .item-grid.helga-grid.flip {
  background-color: #e7717d;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.phoebe-grid .list-img-container:before {
  background: rgba(252, 205, 4, 0.7) !important;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.phoebe-grid:hover,
.sidenav-container .nav-list .list-container .list-item .item-grid.phoebe-grid.flip {
  background-color: #fccd04;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.sid-grid .list-img-container:before {
  background: rgba(0, 155, 119, 0.7) !important;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.sid-grid:hover,
.sidenav-container .nav-list .list-container .list-item .item-grid.sid-grid.flip {
  background-color: #009b77;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.fuzzyslippers-grid .list-img-container:before {
  background: rgba(42, 23, 168, 0.7) !important;
}
.sidenav-container .nav-list .list-container .list-item .item-grid.fuzzyslippers-grid:hover,
.sidenav-container .nav-list .list-container .list-item .item-grid.fuzzyslippers-grid.flip {
  background-color: #2a17a8;
}
.phoebe-body {
  margin-top: 10px;
  padding-right: 2%;
}
.phoebe-body .phoebe-ctrl {
  display: flex;
}
.phoebe-body .phoebe-ctrl.filter-ctrl {
  width: 100%;
}
.phoebe-body .phoebe-ctrl.filter-ctrl .ctrl-container {
  justify-content: space-around;
}
.phoebe-body .phoebe-ctrl.src-ctrl .ctrl-container {
  max-width: 830px;
}
.phoebe-body .phoebe-ctrl .ctrl-live {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 7px;
  cursor: pointer;
}
.phoebe-body .phoebe-ctrl .ctrl-live .ctrl-btn {
  width: 10px;
  height: 10px;
  background: #fccd04;
  border-radius: 50%;
  margin: 10px;
  transition: 0.5s all ease;
}
.phoebe-body .phoebe-ctrl .ctrl-live:hover .ctrl-btn {
  width: 30px;
  height: 30px;
  margin: 0px;
}
.phoebe-body .phoebe-ctrl .ctrl-container {
  border-radius: 50px;
  flex: 1;
  border: 1px solid rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  padding: 5px 30px;
  white-space: nowrap;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}
.phoebe-body .phoebe-ctrl .ctrl-container .ctrl-item {
  display: inline-flex;
  margin: 2px 7px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s all ease;
}
.phoebe-body .phoebe-ctrl .ctrl-container .ctrl-item .icon {
  height: 15px;
  margin-right: 5px;
  transition: 0.5s all ease;
}
.phoebe-body .phoebe-ctrl .ctrl-container .ctrl-item.active {
  font-weight: bold;
  opacity: 0.5;
  border-left: 2px solid #fccd04;
  border-right: 2px solid #fccd04;
}
.phoebe-body .phoebe-ctrl .ctrl-container .ctrl-item:hover {
  color: #fccd04;
}
.phoebe-body .phoebe-ctrl .ctrl-container .ctrl-item:hover .icon path {
  fill: #fccd04;
}
.phoebe-body .phoebe-ctrl .ctrl-container .icon-container {
  margin-right: 7px;
}
.phoebe-body .phoebe-ctrl .ctrl-container .text-container {
  flex-grow: 1;
}
.phoebe-body .view-container {
  text-align: center;
  display: block;
  width: 100%;
  height: calc(100% - 100px);
  padding: 10px 0px;
}
.phoebe-body .view-container .phoebe-view {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: rgba(252, 205, 4, 0.4) !important;
}
.phoebe-body .hex-view-container {
  text-align: center;
}
.phoebe-body .hex-view-container .phoebe-view {
  width: 47%;
  display: inline-block;
  margin: 15px 0px 12%;
}
.phoebe-body .hex-view-container .phoebe-view .hexBody {
  background: rgba(252, 205, 4, 0.4) !important;
}
.phoebe-body .hex-view-container .phoebe-view .hexBody .hex-body-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.phoebe-body .hex-view-container .phoebe-view .hexBody .hex-body-container .active {
  visibility: visible;
  position: relative;
  width: 100%;
  z-index: 10;
}
.phoebe-body .hex-view-container .phoebe-view .hexBody .hex-body-container .inactive {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.arnold-body .hex .hexBody {
  background: rgba(86, 128, 233, 0) !important;
}
.arnold-body .hex .hexBody:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(86, 128, 233, 0.7) 60%, rgba(255, 255, 255, 0.2));
}
.arnold-body .hex .hexBody .hex-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container {
  position: relative !important;
  padding: 5px;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container * {
  position: relative;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container.full {
  height: 100%;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .txt-line {
  display: block;
  font-size: 1.2rem;
  white-space: pre-line;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .txt-line span + span {
  margin-left: 7px;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .blur_line.blur {
  font-size: 1.2rem;
  text-shadow: 0 0 0.5rem white;
  color: transparent;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .battery-icon {
  width: 50px;
  height: 25px;
  padding: 2px;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #ffffff;
  position: relative;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .battery-icon .status {
  width: 2%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .battery-icon .statusVal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .arnoldGauge {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .arnoldLegend {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-60%, -70%);
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .dropTbl {
  padding: 20px 10% 0px;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .dropTbl .dropRow .dropTitle {
  font-weight: bold;
  border-radius: 15px;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0.4) 60%, rgba(255, 255, 255, 0));
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .dropTbl .dropRow .dropIp {
  font-size: 0.8rem;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .progressTbl {
  padding: 7%;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .progressTbl .progressRow {
  padding: 5px;
  display: flex;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .progressTbl .progressRow .progressTitle {
  font-weight: bold;
  margin-right: 7px;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .progressTbl .progressRow .progressContainer {
  flex: 1;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .progressTbl .progressRow .progressContainer .lvlContainer {
  width: 2%;
  height: 100%;
  background: #AAC0F7;
}
.arnold-body .hex .hexBody .hex-body-container .hex-inner-container .progressTbl .progressRow .progressContainer .lvlVal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
}
.login-body {
  padding: 0px 2%;
}
.login-body h1 {
  text-align: center;
}
.login-body .login-ctrl {
  text-align: center;
}
.login-body .login-ctrl .ctrl-live {
  border-radius: 50%;
  display: inline-flex;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid #323232;
}
.login-body .login-ctrl .ctrl-live .ctrl-btn {
  width: 10px;
  height: 10px;
  background: #323232;
  border-radius: 50%;
  margin: 10px;
  transition: 0.5s all ease;
}
.login-body .login-ctrl .ctrl-live:hover .ctrl-btn {
  width: 30px;
  height: 30px;
  margin: 0px;
}
.login-body .hex-view-container {
  text-align: center;
}
.login-body .hex-view-container .login-view {
  width: 35%;
  display: inline-block;
  margin: 15px 0px 10%;
}
.login-body .hex-view-container .login-view .hexBody {
  background: rgba(50, 50, 50, 0.4);
}
.login-body .hex-view-container .login-view .hexBody .hex-body-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-body .hex-view-container .login-view .hexBody .hex-body-container .active {
  visibility: visible;
  position: relative;
  width: 100%;
  z-index: 10;
}
.login-body .hex-view-container .login-view .hexBody .hex-body-container .inactive {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.login-body .hex-view-container .login-view .hexBody .hex-body-container .ctrl-txt {
  z-index: 15;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  width: 100%;
}
.login-body .hex-view-container .login-view .hexBody .hex-body-container .ctrl-txt.invisible {
  display: hidden;
}
.login-body .form-container {
  text-align: center;
  display: none;
}
.login-body .form-container.visible {
  display: block;
}
.login-body .form-container .login-form-element {
  width: 200px;
  border-radius: 50px;
  flex: 1;
  border: 1px solid rgba(50, 50, 50, 0.5);
  display: inline-flex;
  flex-direction: row;
  overflow-x: hidden;
  padding: 5px 30px;
  white-space: nowrap;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}
.login-body .form-container .login-form-element label span {
  padding-right: 5px;
  margin-right: 10px;
  border-right: 2px solid rgba(50, 50, 50, 0.5);
  text-transform: uppercase;
  font-weight: bold;
}
.login-body .form-container .login-form-element label input {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
.login-body .form-container .btn-container {
  display: inline-flex;
  cursor: pointer;
  opacity: 0.9;
}
.login-body .form-container .btn-container .charater-icon {
  border-radius: 50%;
  position: relative;
  padding: 5px;
  text-align: center;
  background: rgba(50, 50, 50, 0.7);
  z-index: 1;
}
.login-body .form-container .btn-container .charater-icon .icon-btn {
  background: #323232;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.login-body .form-container .btn-container .btn-title {
  margin-left: -20px;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 40px;
  border-radius: 50px;
  position: relative;
  background: rgba(50, 50, 50, 0.7);
}
.login-body .form-container .btn-container .btn-title::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  height: 100%;
  width: 30px;
  border-radius: 50%;
  background: rgba(154, 154, 154, 0.5);
}
.login-body .form-container + .form-container {
  margin-top: 10px;
}
.helga-body {
  padding: 3%;
  flex-grow: 1;
}
.helga-body .map-container {
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.helga-body .map-container .searchContainer {
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(231, 113, 125, 0.7) !important;
  border-radius: 50px;
  display: flex;
  padding: 5px 20px;
  z-index: 100;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}
.helga-body .map-container .searchContainer .jadaIcon {
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 0 6px;
  color: #ffffff;
  font-weight: bold;
}
.helga-body .map-container .searchContainer .helgatextbox {
  flex-grow: 1;
}
.helga-body .map-container .searchContainer .helgatextbox input {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
}
.helga-body .map-container .searchContainer .helgatextbox input::placeholder {
  color: #c8c8c8;
  opacity: 0.8;
}
.helga-body .map-container .searchContainer .helgatextbox input:focus {
  outline: none;
}
.jada-body-container {
  width: 87%;
  position: fixed;
  top: 0%;
  left: 0;
  padding: 2% 3% 10px 9%;
  background: linear-gradient(#1c202a, rgba(0, 0, 0, 0) 90%);
}
.jada-body-container .jada-search-container {
  min-height: 35px;
  width: 100%;
  background: #646464;
  border-radius: 50px;
}
.jada-body-container .jada-search-container.gerald {
  background: rgba(230, 38, 37, 0.7) !important;
}
.jada-body-container .jada-search-container.arnold {
  background: rgba(86, 128, 233, 0.7) !important;
}
.jada-body-container .jada-search-container.helga {
  background: rgba(231, 113, 125, 0.7) !important;
}
.jada-body-container .jada-search-container.phoebe {
  background: rgba(252, 205, 4, 0.7) !important;
}
.jada-body-container .jada-search-container.sid {
  background: rgba(0, 155, 119, 0.7) !important;
}
.jada-body-container .jada-search-container.fuzzyslippers {
  background: rgba(42, 23, 168, 0.7) !important;
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-family: 'Pompiere', cursive;
}
#app {
  height: 100vh;
}
.ps118-body {
  height: 100%;
  background-color: #121620;
}
.ps118-body .content-body {
  background: rgba(28, 32, 42, 0.9);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ps118-body .content-body .main-body {
  padding: 60px 0px 2% 2%;
  flex-grow: 1;
  display: flex;
}
/* Hex Object */
.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
}
.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
}
.hex.disable {
  pointer-events: none;
  opacity: 0.2;
}
.hex .hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hex .hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}
.hex .hexIn .hexBody {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  background: #c8c8c8;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}
.hex .hexIn .hexBody.grid {
  background-color: #323232;
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  /* Gerald */
  /* Arnold */
  /* helga */
  /* phoebe */
  /* sid */
  /* fuzzyslippers */
  /* ALL Hover */
}
.hex .hexIn .hexBody.grid.gerald-grid {
  background-image: linear-gradient(#e62625 2px, transparent 2px), linear-gradient(90deg, #e62625 2px, transparent 2px), linear-gradient(rgba(230, 38, 37, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(230, 38, 37, 0.3) 1px, transparent 1px);
}
.hex .hexIn .hexBody.grid.gerald-grid:hover,
.hex .hexIn .hexBody.grid.gerald-grid.flip {
  background-color: #e62625;
}
.hex .hexIn .hexBody.grid.gerald-grid .hex-body-container .grid-img {
  width: 60%;
}
.hex .hexIn .hexBody.grid.arnold-grid {
  background-image: linear-gradient(#5680e9 2px, transparent 2px), linear-gradient(90deg, #5680e9 2px, transparent 2px), linear-gradient(rgba(86, 128, 233, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(86, 128, 233, 0.3) 1px, transparent 1px);
}
.hex .hexIn .hexBody.grid.arnold-grid:hover,
.hex .hexIn .hexBody.grid.arnold-grid.flip {
  background-color: #5680e9;
}
.hex .hexIn .hexBody.grid.arnold-grid .hex-body-container .grid-img {
  width: 100%;
}
.hex .hexIn .hexBody.grid.helga-grid {
  background-image: linear-gradient(#e7717d 2px, transparent 2px), linear-gradient(90deg, #e7717d 2px, transparent 2px), linear-gradient(rgba(231, 113, 125, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(231, 113, 125, 0.3) 1px, transparent 1px);
}
.hex .hexIn .hexBody.grid.helga-grid:hover,
.hex .hexIn .hexBody.grid.helga-grid.flip {
  background-color: #e7717d;
}
.hex .hexIn .hexBody.grid.helga-grid .hex-body-container .grid-img {
  width: 100%;
}
.hex .hexIn .hexBody.grid.phoebe-grid {
  background-image: linear-gradient(#fccd04 2px, transparent 2px), linear-gradient(90deg, #fccd04 2px, transparent 2px), linear-gradient(rgba(252, 205, 4, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(252, 205, 4, 0.3) 1px, transparent 1px);
}
.hex .hexIn .hexBody.grid.phoebe-grid:hover,
.hex .hexIn .hexBody.grid.phoebe-grid.flip {
  background-color: #fccd04;
}
.hex .hexIn .hexBody.grid.phoebe-grid .hex-body-container .grid-img {
  width: 80%;
}
.hex .hexIn .hexBody.grid.sid-grid {
  background-image: linear-gradient(#009b77 2px, transparent 2px), linear-gradient(90deg, #009b77 2px, transparent 2px), linear-gradient(rgba(0, 155, 119, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 155, 119, 0.3) 1px, transparent 1px);
}
.hex .hexIn .hexBody.grid.sid-grid:hover,
.hex .hexIn .hexBody.grid.sid-grid.flip {
  background-color: #009b77;
}
.hex .hexIn .hexBody.grid.sid-grid .hex-body-container .grid-img {
  width: 80%;
}
.hex .hexIn .hexBody.grid.fuzzyslippers-grid {
  background-image: linear-gradient(#2a17a8 2px, transparent 2px), linear-gradient(90deg, #2a17a8 2px, transparent 2px), linear-gradient(rgba(42, 23, 168, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(42, 23, 168, 0.3) 1px, transparent 1px);
}
.hex .hexIn .hexBody.grid.fuzzyslippers-grid:hover,
.hex .hexIn .hexBody.grid.fuzzyslippers-grid.flip {
  background-color: #2a17a8;
}
.hex .hexIn .hexBody.grid.fuzzyslippers-grid .hex-body-container .grid-img {
  width: 80%;
}
.hex .hexIn .hexBody.grid:hover,
.hex .hexIn .hexBody.grid.flip {
  background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.hex .hexIn .hexBody .hex-body-container {
  width: 100%;
  height: 100%;
}
.hex .hexIn .hexBody .hex-body-container .grid-img {
  position: absolute;
  left: 40%;
  bottom: 5%;
  transform: translate(-40%, -5%);
}
/* Hex Grid */
.hex-grid {
  height: 100%;
}
.hex-grid .grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
}
@media (min-width:901px) {
  .hex-grid .grid-container {
    padding-bottom: 8.4%;
  }
}
@media (max-width: 900px) {
  .hex-grid .grid-container {
    padding-bottom: 11.2%;
  }
}
@media (min-width:901px) {
  .hex-grid .grid-container .hex {
    width: 33.333%;
  }
  .hex-grid .grid-container .hex:nth-child(5n+4) {
    margin-left: 16.666%;
  }
}
@media (max-width: 900px) {
  .hex-grid .grid-container .hex {
    width: 50%;
  }
  .hex-grid .grid-container .hex:nth-child(3n+3) {
    margin-left: 25%;
  }
}
.hex-grid .grid-row {
  width: max-content;
  margin: 0;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 8.4%;
}
.hex-grid .grid-row + .grid-row {
  margin-left: 137.5px;
  margin-top: -8.4%;
}
.hex-grid .grid-row .hex {
  display: inline-block;
  width: 275px;
}
/* Side Nav Btn */
.nav-btn-container {
  height: 50px;
  position: fixed;
  display: flex;
  z-index: 100;
  left: 2%;
  top: 2%;
}
.nav-btn-container .btn-container {
  display: flex;
  cursor: pointer;
  opacity: 0.9;
}
.nav-btn-container .btn-container .charater-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  padding: 5px;
  text-align: center;
  z-index: 1;
}
.nav-btn-container .btn-container .charater-icon:before {
  content: '';
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 70%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s all ease-in-out;
}
.nav-btn-container .btn-container .charater-icon.gerald:before {
  background: rgba(230, 38, 37, 0.7) !important;
}
.nav-btn-container .btn-container .charater-icon.arnold:before {
  background: rgba(86, 128, 233, 0.7) !important;
}
.nav-btn-container .btn-container .charater-icon.helga:before {
  background: rgba(231, 113, 125, 0.7) !important;
}
.nav-btn-container .btn-container .charater-icon.sid:before {
  background: rgba(0, 155, 119, 0.7) !important;
}
.nav-btn-container .btn-container .charater-icon.phoebe:before {
  background: rgba(252, 205, 4, 0.7) !important;
}
.nav-btn-container .btn-container .charater-icon.fuzzyslippers:before {
  background: rgba(42, 23, 168, 0.7) !important;
}
.nav-btn-container .btn-container .charater-icon .icon-img {
  position: relative;
  z-index: 1;
  height: 100%;
}
.nav-btn-container .btn-container .charater-icon:hover:before {
  height: 100%;
  width: 100%;
}
/* Load Spinner */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #646464;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c8c8c8;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader.helga {
  border-top-color: #e7717d;
}
#loader.arnold {
  border-top-color: #5680e9;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
/* Horizonal View */
.horizontal-view {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
/* Scroll Bar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgba(50, 50, 50, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/* Socket Connection Display */
.sc-container {
  position: fixed;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 21px;
  background-color: #646464;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 3s top ease-in-out;
}
.sc-container.status-0 {
  background-color: #c14b4b;
  top: 0;
}
.sc-container.status-1 {
  background-color: #50c14b;
}
.sc-container.status-2 {
  background-color: #c1864b;
  top: 0;
}
.sc-container.status-3 {
  background-color: #c1c14b;
  top: 0;
}
.sc-container .sc-item {
  display: inline-block;
}
.sc-container .sc-item + .sc-item {
  margin-left: 10px;
}
.sc-container .sc-item.sc-retry-btn {
  margin-left: 15px;
  padding: 2px 14px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.sc-container .sc-item.sc-retry-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.sc-container .sc-item.sc-retry-btn span {
  margin-left: 7px;
}
/* End Socket Connection Display */
/* Cuircuit Back */
.circuitBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.circuitBack svg {
  /* Background: https://www.svgbackgrounds.com/#endless-constellation */
  background-color: #121620;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23383a44' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23d0d0db'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: 100%;
  width: 100%;
}
/* End Circuit Back */
