.jada-body-container {
    width: 87%;
    position: fixed;
    top:0%;
    left:0;
    padding: 2% 3% 10px 9%;
    background: linear-gradient(rgba(28,32,42,1), rgba(0,0,0,0) 90%);

    .jada-search-container {
        min-height: 35px;
        width: 100%;
        background: rgba(100,100,100,1);
        border-radius: 50px;

        &.gerald { .gerald(background,0.7);}
        &.arnold { .arnold(background,0.7);}
        &.helga { .helga(background,0.7);}
        &.phoebe { .phoebe(background,0.7);}
        &.sid { .sid(background,0.7);}
        &.fuzzyslippers { .fuzzyslippers(background,0.7);}
    }
}