.jada-body-container {
    width: 87%;
    position: fixed;
    top:0%;
    left:0;
    padding: 2% 3% 10px 9%;
    background: linear-gradient(rgba(28,32,42,1), rgba(0,0,0,0) 90%);

    .jada-search-container {
        min-height: 35px;
        width: 100%;
        background: rgba(100,100,100,1);
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.gerald { .gerald(background,0.7);}
        &.arnold { .arnold(background,0.7);}
        &.helga { .helga(background,0.7);}
        &.phoebe { .phoebe(background,0.7);}
        &.sid { .sid(background,0.7);}
        &.fuzzyslippers { .fuzzyslippers(background,0.7);}

        .jsearch-components {
            display: flex;
            flex-direction: row;
            padding: 0px 10px;
            .jsearch-btn { 
                position: relative;
                border-radius: 50%;
                height: 27px;
                width: 27px;
                overflow: hidden;
                transition: 0.3s all ease-in-out;
                cursor: pointer;
                -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
                -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);

                &:hover { 
                    background: rgba(18,22,32,0.7);
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                img {  
                    width: 80%;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                &+.jsearch-btn { margin-left: 10px; }
            }
        }
    }
}